@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'DB_Helvethaica_X';
  src: url('../fonts/DB_Helvethaica_X.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'DB_Helvethaica_X';
  src: url('../fonts/DB_Helvethaica_X_Bd_v3.2.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'DB_Helvethaica_X';
  src: url('../fonts/DB_Helvethaica_X_Blk_v3.2.ttf');
  font-weight: 900;
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  color: #000000;
  font-family: 'DB_Helvethaica_X';
  line-height: normal;
}

*,
*:before,
*:after {
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background: #ededed;
}

::-webkit-scrollbar-thumb {
  background: #b4b4b4;
  border-radius: 8px;
}

h1 {
  @apply text-[46px] sm:text-[72px];
}

h2 {
  @apply text-[40px] sm:text-[60px];
}

h3 {
  @apply text-[36px] sm:text-[42px];
}

h4 {
  @apply text-[32px] sm:text-[36px];
}

h5 {
  @apply text-[28px] sm:text-[32px];
}

.b1 {
  @apply text-[22px];
}

.b2 {
  @apply text-[20px];
}

.b3 {
  @apply text-[18px];
}

.b4 {
  @apply text-[16px];
}

.b5 {
  @apply text-[14px];
}

hr {
  @apply my-3;
}

a {
  @apply break-words;
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}

.menu-btn {
  @apply border border-white rounded-full p-1 text-center w-40  cursor-pointer hover:bg-white hover:text-black hover:font-bold duration-300;
}

.menu-btn.active {
  @apply bg-white text-black font-bold;
}

.tab-menu {
  @apply border-b-2 border-[#DADADA] w-32 text-center outline-none font-bold;
}

.tab-menu[aria-selected='true'] {
  @apply border-b-2 border-[#EC1C24];
}

.flex-col-mb {
  @apply flex-col sm:flex-row;
}

// table

table tr,
table th,
table td {
  @apply p-1 font-normal align-baseline;
}

table tr {
  @apply border-b;
}

table th:first-child {
  border-radius: 10px 0 0 10px;
}

table th:last-child {
  border-radius: 0 10px 10px 0;
}

.info-btn {
  @apply bg-[#F5F5F5] p-3 flex rounded-md b2 font-bold justify-between text-black items-center mt-3 hover:bg-[#DADADA] duration-500 cursor-pointer;
}

.input-text {
  @apply bg-[#F5F5F5] rounded-md px-3 w-full b1;
}

// radio button

.radio-btn {
  @apply p-1.5 sm:p-2.5 text-center cursor-pointer w-fit border;
}

.radio-btn[aria-checked='true'] {
  @apply bg-[#F5F5F5] font-bold;
}

// disclosure

.disclosure-btn {
  @apply flex  gap-2 text-left;
}

.disclosure-btn svg {
  @apply duration-300 mt-1;
}

.disclosure-btn[aria-expanded='false'] svg {
  @apply -rotate-90;
}

.disclosure-panel {
  @apply pl-8;
}

// dropdown

.dropdown-btn {
  @apply w-full p-2.5 b1 text-left bg-white rounded-[10px] flex justify-between items-center ring-[#0B5C90];
}

.dropdown-btn svg {
  @apply duration-300 size-4;
}

.dropdown-btn[aria-expanded='true'] svg {
  @apply -rotate-180;
}

.dropdown-btn[aria-expanded='true'] ~ .combobox-btn svg {
  @apply -rotate-180;
}

.dropdown-list {
  @apply mt-1 w-full b1 text-left max-h-44 bg-white overflow-x-scroll z-10 shadow-md  pb-0;

  li {
    @apply p-2.5 cursor-pointer text-black hover:bg-black hover:text-white;
  }
}

// cookie consent

.wv_cookie-consent__lang {
  display: none !important;
}

.wv_cookie-consent__body {
  // margin: 0 !important;
  font-size: 20px !important;
  line-height: normal !important;

  a {
    color: #8dccf0 !important;
  }
}

.wv_cookie-consent__options {
  margin: 0 !important;
}

.wv_cookie-consent__container,
.wv_cookie-consent__actions button {
  font-family: 'DB_Helvethaica_X' !important;
  font-size: 20px !important;
}

.wv_cookie-consent__container {
  padding: 25px 50px !important;

  @include mobile {
    padding: 20px !important;
  }
}

.wv_cookie-consent__actions button {
  border-radius: 10px !important;
}

.wv_cookie-consent--banner,
.wv_cookie-consent__container {
  background: #333333 !important;
}

.wv_cookie-consent__actions > button:first-child {
  border-color: #8dccf0 !important;
  color: #8dccf0 !important;
}

.checkbox-wrapper {
  border-radius: 10px 0 0 10px;
  padding: 28px;

  @include mobile {
    border-radius: 10px 10px 0 0;
    padding: 15px;
  }
}

.chart-wrapper {
  border-radius: 0 10px 10px 0;

  @include mobile {
    border-radius: 0 0 10px 10px;
  }
}

.yaxis-text {
  writing-mode: vertical-lr;
  color: #8e8e8e;
  font-weight: bold;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 10px;
  text-align: center;
}

.radio-wrapper {
  background: #f5f5f5;

  div {
    width: 100%;
    border-left: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
    padding: 5px 10px;
    text-align: left;
  }

  .radio-btn:first-child {
    border: 1px solid #d9d9d9;
    border-radius: 10px 10px 0 0;
  }

  .radio-btn:last-child {
    border: 1px solid #d9d9d9;
    border-radius: 0 0 10px 10px;
  }

  .radio-btn[aria-checked='true'] {
    @apply bg-[#D9D9D9] font-bold;
  }
}
