@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'DB_Helvethaica_X';
  src: url('../fonts/DB_Helvethaica_X.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'DB_Helvethaica_X';
  src: url('../fonts/DB_Helvethaica_X_Bd_v3.2.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'DB_Helvethaica_X';
  src: url('../fonts/DB_Helvethaica_X_Blk_v3.2.ttf');
  font-weight: 900;
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  color: #000000;
  font-family: 'DB_Helvethaica_X';
  line-height: normal;
}

*,
*:before,
*:after {
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background: #ededed;
}

::-webkit-scrollbar-thumb {
  background: #b4b4b4;
  border-radius: 8px;
}

h1 {
  @apply text-[46px] sm:text-[72px];
}

h2 {
  @apply text-[40px] sm:text-[60px];
}

h3 {
  @apply text-[36px] sm:text-[42px];
}

h4 {
  @apply text-[32px] sm:text-[36px];
}

h5 {
  @apply text-[28px] sm:text-[32px];
}

.b1 {
  @apply text-[22px];
}

.b2 {
  @apply text-[20px];
}

.b3 {
  @apply text-[18px];
}

.b4 {
  @apply text-[16px];
}

.b5 {
  @apply text-[14px];
}

hr {
  @apply my-3;
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}

.menu-btn {
  @apply border border-white rounded-full p-1 text-center w-40 text-white cursor-pointer hover:bg-white hover:text-black hover:font-bold duration-500;
}

.tab-menu {
  @apply border-b-2 border-[#DADADA] w-32 text-center outline-none font-bold;
}

.tab-menu[aria-selected='true'] {
  @apply border-b-2 border-[#EC1C24];
}

.flex-col-mb {
  @apply flex-col sm:flex-row;
}

table tr,
table th {
  @apply p-1;
}

table tr {
  @apply border-b;
}

.info-btn {
  @apply bg-[#F5F5F5] p-3 flex rounded-md b2 font-bold justify-between text-black items-center mt-3 hover:bg-[#DADADA] duration-500 cursor-pointer;
}

.disclosure-btn {
  @apply flex items-center gap-2;
}

.disclosure-btn svg {
  @apply duration-300;
}

.disclosure-btn[aria-expanded='false'] svg {
  @apply -rotate-90;
}

.disclosure-panel {
  @apply pl-8;
}
